<%= provide :stylesheets do %>
 <%= stylesheet_link_tag "flynn" %>
   <nav class="mnav">
   <ul>
     <li class="brand"><a href="/"><img src="https://flynn.io//images/flynn-acaf9509.svg" alt="Flynn" /></a></li>
     <li class="spacer"></li>
     <li class="item "><a href="#">A propos</a></li>
     <li class="item "><a href="#">Docs</a></li>
     <li class="item "><a href="#">Blog</a></li>
     <li class="item "><a href="#">Prix</a></li>
     <li class="item btn"><a href="#">Test</a></li>
   </ul>
 </nav>
   <section class="content-container header index" id="demo">
   <header class="h1"><h1>Regardez cette vidéo pour<br />découvrir Flynn</h1>
   </header>
   <video class="" controls poster="https://flynn.io/images/flynn_demo_poster-80eaa060.jpg">
     <source src="https://dl.flynn.io/assets/flynn_demo_2m.mp4" type="video/mp4">
   </video>
 </section>
 <nav class="hnav">
   <ul>
     <li class=""><a href="#">Un</a></li>
     <li class=""><a href="#">Deux</a></li>
     <li class=""><a href="#">Etroit</a></li>
   </ul>
 </nav>
 <section class="content-container narrow-centered">
   <header><h2>Puissant et facile, Comme cela doit être</h2></header>
   <h4><strong>Flynn est une Plateforme Open Source (PaaS) qui permet de faire des application en production.</strong></h4>
   <p>Cela fait tout ce dont vous avez besoin en un tournemain:</p>
   <div class="content">
     <ul>
       <li>Elle crée des <a href="#">applications</a></li>
       <li>Bon j'ai pas le feu pour tout traduire</li>
       <li>Alors je vais vous donner mon avis sur  <a href="#">THP</a> en faisant style je parle de Flynn</li>
       <li>L'ambiance est sympa même si être tout seul n'est pas super easy</li>
       <li>Mais des <a href="#">rencontres</a>, fussent-elles online, sont déjà prolifiques, ne serait ce qu'au niveau humain</li>
     </ul>
   </div>
 </section>

 <section class="centered">
   <a href="#" class="try-now-btn">Try Flynn Now</a>
 </section>
 <section class="content-container narrow-centered header-only">
   <article>
     <header>
       <h2>Tout ce que tu veux<br/> THP le propose.</h2>
     </header>
   </article>
 </section>

 <section class="content-container stacked narrow-centered">
   <article>
     <header>
       <h3>Car il faut voir plus loin <br/>ce que ça donne.</h3>
     </header>

     <p>Le Charles il est chaud patate pour sortir de nouvelles formations.</p>
     <p>Et c'est plutôt bon pour nous.</p>
     <p>Même si l'on ne s'en rend pas encore compte, nous avons mis les pieds dans une belle avancée.
       Avec ma vieille carcasse, j'ai vu passer pas mal de projets, celui est à mon avis voué au succès.
       Pour notre plus grand bien puisque nous y sommes presque depuis son lancement.</p>
     <p>Oui il y a des choses perfectibles.</p>
     <p>Mais bon, je vois ce que j'ai ingurgité en un mois et demi, et de nombreux talents qui sortent de notre promo.
       Et au lieu de chouiner on devrait cotiser nos cerveaux pour apporter des upgrade au back et aux ressources.
       Charles trouvera bien un moyen d'huiler le tout, Felixx need our help.</p>
     <p>And like all good things, it's completely free.(ça je le traduit pas c'est raccord)</p>
   </article>
 </section>

   <footer id="footer">
   <section class="content-container">
     <a href="/docs/installation" class="try-now-btn">Essayez Flynn maintenant</a>

     <section class="content-container centered">
       <form action="https://flynn.us7.list-manage.com/subscribe/post?u=9600741fc187618e1baa39a58&id=a2b322e5ab" method="post" target="_blank" novalidate class="mailing-list-form">
   <h2>Mailing List</h2>
   <label>Adresse Mail&nbsp;
     <input type="email" name="EMAIL" placeholder="you@example.com">
   </label>
   <button type="submit" name="subscribe">Souscrire</button>
 </form>
     </section>
     <br/><br/><br/>

     <nav class="fnav">
       <ul>
         <li><a href="https://github.com/flynn/flynn">GitHub.</a></li>
         <li><a href="https://webchat.freenode.net?channels=flynn"> IRC.</a></li>
         <li><a href="https://twitter.com/flynnscale">Twitter.</a></li>
         <li><a href="#">Lire la doc</a></li>
         <li><a href="#">Get some swag.</a></li>
         <li><a href="#">Envoyer un mail</a></li>
       </ul>
     </nav>
   </section>
   <section class="copyright">
     Enfin un site sans code bordélique<br />
     &copy; 2013-2018 Prime Directive, Inc. Flynn® is a trademark of Prime Directive, Inc.<br />
     <a href="#">Privacy Policy</a> | <a href="#">Trademark Guidelines</a>
   </section>
 </footer>
<% end %>
