<!DOCTYPE html>
<html>
<head>
  <title>Tabs en JS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag "custom" %>
</head>
<body>
<p>Pour le Carousel jQuery <a href="/carou">c'est par là</a></p>

<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Accueil')">Présentation</button>
  <button class="tablinks" onclick="openTab(event, 'Menu')">Menu</button>
  <button class="tablinks" onclick="openTab(event, 'Contact')">Contact</button>
</div>

<div id="Accueil" class="tabcontent" style="display:block;">
  <h3>Bienvenu au resto !</h3>
  <p>Slider ici, mais pas sans jquery donc un bon p :)</p>
</div>

<div id="Menu" class="tabcontent">
  <h3>Menu</h3>
  <p>Tout plein de truc a Miam.</p>
</div>

<div id="Contact" class="tabcontent">
  <h3>Contact</h3>
  <p>Reserve en ligne!</p>
</div>
<%= javascript_include_tag "tab" %>
</body>
</html>
