<footer class="navbar navbar-fixed-bottom" style="display:flex; justify-content:left; flex-wrap:wrap;">
    <div class="nav navbar-nav" style="float:none;" >
    <nav>
        <ul>
            <li>
               Ce site a été fait avec <i class="em em-blue_heart"></i>
            </li>
        </ul>
    </nav>
    </div>
</footer>